<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <h1>책 정보 수정</h1>
    <form th:action="@{/books/editBook}" method="post">
        <div>
            <label>
                <input type="hidden" id="id" th:field="${book.id}"></label>
        </div>
        <div>
            <label>책 제목
                <input type="text" id="title" th:field="${book.title}"></label>
        </div>
        <div>
            <label>저자
                <input type="text" id="author" th:field="${book.author}"></label>
        </div>
        <div>
            <label>출판 년도
                <input type="text" id="publicationYear" th:field="${book.publicationYear}"></label>
        </div>
        <button type="submit" class="edit-btn">Update Book</button>
        <a th:href="@{/books}" class="delete-form">Back to Book List</a>
    </form>
</body>
</html>