<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>저자</th>
        <th>출판 년도</th>
        <th>작업</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.publicationYear}"></td>
        <td class="action-buttons">
            <a th:href="@{/books/editBook/{id}(id=${book.id})}" class="edit-btn">수정</a>
            <a th:href="@{/books/deleteBook/{id}(id=${book.id})}" class="delete-form" onclick="return confirm('정말로 삭제하시겠습니까?');">삭제</a>
        </td>
    </tr>
    </tbody>
</table>
<button>
    <a th:href="@{/books/addBook}">새 책 추가</a>
</button>
</body>
</html>